- content_for :title do
  Indústria - Projetos, Consultoria e Laudos | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Indústria

.container
  .row-fluid
    .span4
      %h2
        %i.icon-headphones
        Projetos
      = image_tag "industria/projetos.jpg", :alt => "Projetos", :class => "framed"
      %p
        Para uma edificação atingir um desempenho acústico bem sucedido, o
        %strong Projeto Acústico
        é peça
        %strong fundamental
        e não deve ser entendido como um projeto de menor importância, destinado apenas para cumprir aspectos legais e normativos.
      = link_to "Saiba Mais", root_path, :class => "btn btn-primary btn-small"
    .span4
      %h2
        %i.icon-user
        Consultoria
      = image_tag "industria/consultoria.jpg", :alt => "Consultoria", :class => "framed"
      %p Estudo, diagnóstico e orientação das soluções acústicas aplicáveis para uma edificação, visando a otimização de recursos investidos por construtores, incorporadores etc.
      = link_to "Saiba Mais", root_path, :class => "btn btn-primary btn-small"
    .span4
      %h2
        %i.icon-bar-chart
        Laudos
      = image_tag "industria/laudo.jpg", :alt => "Laudos", :class => "framed"
      %p Relatório técnico de avaliação do desempenho acústico in situ (em campo) de sistemas construtivos, por meio de medições acústicas em fachadas, compartimentações verticais, pisos, equipamentos dentre outros.
      = link_to "Saiba Mais", root_path, :class => "btn btn-primary btn-small"