- content_for :title do
  Indústria - Projetos, Consultoria e Laudos | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Indústria

.container
  .row-fluid
    .span4
      %h2
        %i.icon-headphones
        Projetos
      = image_tag "industria/projetos.jpg", :alt => "Projetos", :class => "framed"
      %p
        Para uma planta industrial se adequar as normas vigentes relacionadas ao controle de ruído, vê-se a necessidade de um
        %strong Projeto Acústico.
        Neste são desenvolvidas soluções técnicas que atendam os requisitos das normas de forma clara, objetiva e de fácil execução.
      = link_to "Saiba Mais", industrias_projetos_path, :class => "btn btn-primary btn-small"
    .span4
      %h2
        %i.icon-user
        Consultoria
      = image_tag "industria/consultoria.jpg", :alt => "Consultoria", :class => "framed"
      %p Estudo, diagnóstico e orientação das soluções aplicáveis na Indústria, visando a otimização de recursos atendendo as exigências ou normas vigentes.
      = link_to "Saiba Mais", industrias_consultoria_path, :class => "btn btn-primary btn-small"
    .span4
      %h2
        %i.icon-bar-chart
        Laudos
      = image_tag "industria/laudo.jpg", :alt => "Laudos", :class => "framed"
      %p
        Relatório Técnico de avaliação do desempenho acústico
        %em in situ
        (em campo), por meio de medições acústicas segundo normas e com equipamentos normatizados.
      = link_to "Saiba Mais", industrias_laudos_path, :class => "btn btn-primary btn-small"