- content_for :title do
  Equipamentos | Scala dB Acústica
- content_for :header do
  %header
    .container
      %h1 Equipamentos

.container
  .row-fluid
    .span5
      %p
        %strong EQUIPAMENTOS PADRONIZADOS QUE A SCALA DB ACÚSTICA UTILIZA EM SEUS ENSAIOS.
      %h2
        %i.icon-bar-chart
        Tapping Machine
      %p
        %strong Tapping Machine
        MAC01 modelo CalpestONE da 01dB, é uma
        %strong máquina de impactos
        padronizados projetada especialmente para atender às exigências dos
        %strong
          ensaios normalizados
          %em in-situ
        de isolamento de
        %strong ruído de impacto,
        de acordo com a norma ISO 140 parte 7 e elaboração de relatórios (laudos) de isolamento segundo a norma ISO 717 parte 2.
      %p
        Seu design é ergonômico incluindo
        %strong bateria interna
        e sistema de acionamento por
        %strong controle remoto
        RF, equipada de cinco (5) martelos em aço cada um com massa de 500 g, com altura de queda de 40 mm.
      %p
        Confira as especificações técnicas completas
        = link_to "clicando aqui.", "docs/fonte-omnidirecional.pdf", :target => "_blank"
      = image_tag "equipamentos/tapping-machine.jpg", :alt => "Tapping Machine", :class => "framed"

    .span5
      %h2
        %i.icon-bar-chart
        Sonômetro - SOLO Black Edition
      %p
        O sonômetro
        %strong SOLO Black Edition
        é um medidor integrador de nível de pressão sonora de
        %strong alta precisão,
        com controle integrado multifrequência e multinível de toda a cadeia de medição: do microfone aos níveis exibidos na tela.
      %p
        É um equipamento padrão
        %strong Classe 1
        de acordo com as normas IEC 60804 e IEC 60651, range dinâmico 20-137 dB, módulo de filtros multi-espectro
        %strong 1/1
        e
        %strong 1/3
        de oitavas (12.5 Hz - 20 kHz) e
        %strong tempo de reverberação T60.
        Certificado de calibração emitido por laboratório acreditado pelo INMETRO.
        %p
          Confira as especificações técnicas completas
          = link_to "clicando aqui.", "docs/solo-black.pdf", :target => "_blank"
      = image_tag "equipamentos/decibelimetro.jpg", :alt => "Solo Black", :class => "framed"

  .row-fluid
    .span5
      %h2
        %i.icon-bar-chart
        Fonte Omnidirecional
      %p
        O
        %strong OMNI-12
        é uma fonte de ruído omnidirecional composta de um dodecaedro (doze altifalantes), um amplificador de potência e um gerador de ruído rosa e branco capaz de produzir 119 dBLin de nível de potência acústica.
      %p Equipada de bateria com autonomia de 1h30 e pode ser operada por controle remoto RF, esta estação acústica foi projetada para medições de isolamento e de tempo de reverberação em conformidade com as normas ISO 140, ISO 10140, ISO 717-1 e ISO 3382.
      %p
        Confira as especificações técnicas completas
        = link_to "clicando aqui.", "docs/fonte-omnidirecional.pdf", :target => "_blank"
      = image_tag "equipamentos/fonte-omnidirecional.jpg", :alt => "Fonte Omnidirecional", :class => "framed"

    .span5
      %h2
        %i.icon-bar-chart
        Sonômetro – QUEST Sound Pro SE 2 1/1
      %p
        O sonômetro
        %strong Sound Pro SE 2 1/1
        é um medidor integrador de nível de pressão sonora de
        %strong alta precisão,
        dispondo de dois (2) medidores virtuais de nível sonoro para medições simultâneas de acordo com as normas regulamentares.
      %p
        É um equipamento solo SLM
        %strong Tipo 2
        de acordo com as normas IEC 61672-1, IEC 60651, IEC 60804 e IEC 1260, range único 30-140 dB, filtro de
        %strong bandas de oitavas 1/1
        (16 Hz - 16 kHz). Certificado de calibração emitido por laboratório acreditado pelo INMETRO.
      %p
        Confira as especificações técnicas completas
        = link_to "clicando aqui.", "docs/soundpro.pdf", :target => "_blank"
      = image_tag "equipamentos/soundpro.jpg", :alt => "Sound Pro", :class => "framed"