- content_for :header do
  %header
    .container
      .row
        .span7.offset5
          .hero-unit.hero-header
            %h1 Scala dB Acústica 01
            %p.lead Projeto, consultoria e laudos.
            = link_to "Saiba Mais", empresa_path, :class => "btn btn-primary btn-large"

.block-wide
  .container
    .row
      .span12
        .row-fluid
          .span4
            %h2
              %i.icon-building
              = link_to "Acústica de Edificações", acustica_de_edificacoes_path
            = link_to image_tag("home/acustica-de-edificacoes.jpg", :alt => "Acústica de Edificações", :class => "framed"), acustica_de_edificacoes_path
            %p Conheça e garanta o desempenho acústico de seus projetos, para o atendimento das exigências da Norma de Desempenho NBR 15575 de edificações habitacionais.
            = link_to "Saiba Mais", acustica_de_edificacoes_path, :class => "btn btn-primary btn-small"
          .span4
            %h2
              %i.icon-beaker
              = link_to "Indústria", industrias_path
            = link_to image_tag("home/industria.jpg", :alt => "Indústria", :class => "framed"), industrias_path
            %p Entenda e controle o ruído gerado pela sua Indústria, protegendo tanto os colaboradores das empresas do ruído ocupacional, quanto sua vizinhança pelo ruído ambiental.
            = link_to "Saiba Mais", industrias_path, :class => "btn btn-primary btn-small"
          .span4
            %h2
              %i.icon-leaf
              = link_to "Meio Ambiente", meio_ambientes_path
            = link_to image_tag("home/meio-ambiente.jpg", :alt => "Meio Ambiente", :class => "framed"), meio_ambientes_path
            %p Obtenha seu Laudo Acústico para as exigências em processos de licenciamento ambiental, auditorias internas ISO 14000 e conformidade dos limites de ruídos permitidos pela legislação.
            = link_to "Saiba Mais", meio_ambientes_path, :class => "btn btn-primary btn-small"
