================================
Contato Site Scala dB
================================

Name:
= @contact.name
Empresa:
= @contact.company
Email:
= @contact.email
Telefone:
= @contact.phone
Cidade:
= @contact.city
Estado:
= @contact.state
Área:
= @contact.area
Tipo de Serviço:
= @contact.service_type

Mensagem:
= @contact.message