%footer
  .container
    %hr
    %ul.nav.nav-pills
      %li= link_to "Home", root_path
      %li= link_to "Empresa", empresa_path
      %li= link_to "Projetos", projetos_path
      %li= link_to "Consultoria", consultoria_path
      %li= link_to "Laudos", laudos_path
      %li= link_to "Equipamentos", root_path
      %li= link_to "Portfolio", root_path
      %li= link_to "Contato", contact_path