%footer
  .container
    %hr
    %ul.nav.nav-pills
      %li= link_to "Home", root_path
      %li= link_to "Empresa", empresa_path
      %li= link_to "Projeto", root_path
      %li= link_to "Consultoria", root_path
      %li= link_to "Laudo", root_path
      %li= link_to "Equipamentos", root_path
      %li= link_to "Portfolio", root_path
      %li= link_to "Contato", contact_path