.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container
      %button.btn.btn-navbar{ :"data-target" => ".nav-collapse", :"data-toggle" => "collapse", :type => "button" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("logo-scala-db-acustica.png", :alt => "Logo Scala dB"), root_path, :class => "brand"
      .nav-collapse.collapse
        %ul.nav
          %li= link_to "Empresa", empresa_path
          %li.dropdown
            = link_to acustica_de_edificacoes_path, :class => "dropdown-toggle", :"data-toggle" => "dropdown" do
              Acústica de Edificações
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Acústica de Edificações", acustica_de_edificacoes_path
              %li= link_to "Projetos", projetos_path
              %li= link_to "Consultoria", consultoria_path
              %li= link_to "Laudos", laudos_path
          %li.dropdown
            = link_to industria_path, :class => "dropdown-toggle", :"data-toggle" => "dropdown" do
              Indústria
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Indústria", industria_path
              %li= link_to "Projetos", projetos_path
              %li= link_to "Consultoria", consultoria_path
              %li= link_to "Laudos", laudos_path
          %li.dropdown
            = link_to root_path, :class => "dropdown-toggle", :"data-toggle" => "dropdown" do
              Meio Ambiente
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Meio Ambiente", meio_ambiente_path
              %li= link_to "Laudos", laudos_path
          %li= link_to "Equipamentos", root_path
          %li= link_to "Contato", contact_path
        %form.navbar-search.pull-right
          %input.search-query{ :type => "text", :placeholder => "Pesquisa interna" }
          
          