.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container
      %button.btn.btn-navbar{ :"data-target" => ".nav-collapse", :"data-toggle" => "collapse", :type => "button" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("logo-scala-db-acustica.png", :alt => "Logo Scala dB"), root_path, :class => "brand"
      .nav-collapse.collapse
        %ul.nav
          %li= link_to "Empresa", empresa_path
          %li.dropdown
            = link_to acustica_de_edificacoes_path, :class => "dropdown-toggle", :"data-toggle" => "dropdown" do
              Acústica de Edificações
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to acustica_de_edificacoes_path do
                  %i.icon-building
                  Acústica de Edificações
              %li.divider
              %li
                = link_to projetos_path do
                  %i.icon-headphones
                  Projetos
              %li
                = link_to consultoria_path do
                  %i.icon-user
                  Consultoria
              %li
                = link_to laudos_path do
                  %i.icon-bar-chart
                  Laudos
          %li.dropdown
            = link_to industria_path, :class => "dropdown-toggle", :"data-toggle" => "dropdown" do
              Indústria
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to industria_path do
                  %i.icon-beaker
                  Indústria
              %li.divider
              %li
                = link_to projetos_path do
                  %i.icon-headphones
                  Projetos
              %li
                = link_to consultoria_path do
                  %i.icon-user
                  Consultoria
              %li
                = link_to laudos_path do
                  %i.icon-bar-chart
                  Laudos
          %li.dropdown
            = link_to root_path, :class => "dropdown-toggle", :"data-toggle" => "dropdown" do
              Meio Ambiente
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to meio_ambiente_path do
                  %i.icon-leaf
                  Meio Ambiente
              %li.divider
              %li
                = link_to laudos_path do
                  %i.icon-bar-chart
                  Laudos
          %li= link_to "Equipamentos", root_path
          %li= link_to "Contato", contact_path
        %form.navbar-search.pull-right
          %input.search-query{ :type => "text", :placeholder => "Pesquisa interna" }
          
          