!!!
%html{ :lang => "en" }
  %head
    = render "layouts/head"
  %body(itemscope itemtype="http://schema.org/WebPage")
    = render "layouts/navigation"
    = yield :header
    .container
      .row
        .span12
          = yield

    = render "layouts/footer"
    = render "layouts/javascript"