!!!
%html{ :lang => "en" }
  %head
    = render "layouts/head"
  %body(itemscope itemtype="http://schema.org/WebPage")
    = render "layouts/navigation"
    = yield :header
    = yield

    = render "layouts/footer"
    = render "layouts/javascript"